.vv-button {
	font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	border: 0;
	border-radius: 3em;
	cursor: pointer;
	display: inline-block;
	line-height: 2;
	padding: 0.5em 2em;

	&__outer-slot {
		display: flex;
	}

	&--primary {
		background-color: #00a0e9;
		color: #fff;
		&:hover {
			background-color: #0091d9;
		}
	}
	
	&--danger {
		background-color: red;
		color: darkred;
		&:hover {
			background-color: darksalmon;
		}
	}

	&--small {
		line-height: 1;
		padding: 0.4em 1.5em;
		font-weight: unset;
	}
	
	&--large {
		font-size: 1.2rem;
	}

	&__wrapper {
		display: flex;
		flex-grow: 1;
		justify-content: center;
		align-items: center;
	}

	&__icon {
		display: flex;
		&-loader {
			transform-origin: 50% 50%;
			animation: rotate 3s infinite linear;
			transform-box: fill-box;
		}
	}

	&__label {
		text-transform: capitalize;
	}

	&--block {
		width: 100%;
		display: block;
	}
}
