
.vv-button-group{
    display: flex;
    > * {
        margin-right: 15px;
    }

    &--vertical{
        flex-direction: column;
    }

    &--compact{
        > * {
            margin-right: 0;
        }
    }
}