$zero-specificity-for-utilities: false;

@import '@volverjs/style/scss/reset';
@import '@volverjs/style/scss/props';
@import '@volverjs/style/scss/themes/dark';
@import '@volverjs/style/scss/utilities';

// components
@import '@volverjs/style/scss/components/vv-accordion';
@import '@volverjs/style/scss/components/vv-badge';
@import '@volverjs/style/scss/components/vv-button';
@import '@volverjs/style/scss/components/vv-button-group';
@import '@volverjs/style/scss/components/vv-input-checkbox';
@import '@volverjs/style/scss/components/vv-input-checkbox-group';
@import '@volverjs/style/scss/components/vv-input-text';
@import '@volverjs/style/scss/components/vv-progress';
@import '@volverjs/style/scss/components/vv-input-radio';
@import '@volverjs/style/scss/components/vv-input-radio-group';
@import '@volverjs/style/scss/components/vv-dialog';
@import '@volverjs/style/scss/components/vv-select';
@import '@volverjs/style/scss/components/vv-dropdown';
@import '@volverjs/style/scss/components/vv-card';
@import '@volverjs/style/scss/components/vv-textarea';
@import '@volverjs/style/scss/components/vv-breadcrumb';
@import '@volverjs/style/scss/components/vv-tooltip';


//Custom classes for stories
.vv-textarea {
    &--variante-1{
        --vv-textarea-element-input-color: red;
    }
    &--variante-2{
        --vv-textarea-element-wrapper-background-color: green;
    }
}
